<h2>Предложения от подрядчиков</h2>
<% @job.bids.each do |bid| %>
  <div class='span2'>
    <%= link_to User.find(bid.user_id).username, user_path(User.find(bid.user_id)) %> </br>
    Стоимость:</br>
    <ul>
      <li><%= bid.cost %></li>
    </ul>
  </div>
  <div class='span4'>
    <%= bid.comment %>
  </div>
  <div class='span4'>
    <%= link_to 'Принять', accept_bid_path(@job, bid), :method => :put, :class => 'btn-success' %>
  </div>
<% end %>
