<h2><%= @job.name %></h2>
<div class="row">
  <div class="span4">
    <strong>Город:</strong> <%= @job.location %>
  </div>
</div>
<div class="row">
  <div class="span8">
    <strong>Описание:</strong></br>
    <%= @job.description %>
  </div>
</div>
